Confirm registration on HolidaysJS
=====
<p>Hello {{name}},</p>

<p>To complete registration process in HolidaysJS please click on following link:</p>

<p>{{confirm_registration_link}}</p>

<p>Thanks</p>
